	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Search News</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<style type="text/css">
		.bs-example{
			margin: 20px;
		}
	</style>
</head>
<body">
<div class="bs-example">
	<form action="{{ url_for('show_result') }}" method="post">
		<table align="center" width="80%">
			<tr>
				<td>
					<div class="form-group">
						<input type="text" class="form-control" name="news_keyword" placeholder="Keyword">
					</div>        
				</td>
			</tr>
			<tr>
				<td>
					<div class="form-group">
						<select class="form-control">
							<option value="volvo">Single News Summarize</option>
							<option value="volvo">Multiple News Summarize</option>
						</select>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<button type="submit" class="btn btn-primary">Search</button>           
				</td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>                            