<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search News</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<style type="text/css">
	.bs-example{
		margin: 20px;
	}
	#inline_form{
		display: inline-block; 
	}
</style>
</head>
<body>
	<div class="bs-example">
		<form action="{{ url_for('show_result') }}" method="post">
			<table align="center" width="80%">
				<tr>
					<td>
						<div class="form-group">
							<input type="text" class="form-control" name="news_keyword" placeholder="Keyword">
						</div>        
					</td>
				</tr>
				<tr align="center">
					<td>
						<button type="submit" class="btn btn-primary">Search</button>           
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="bs-example">
		<table align="center" width="80%">
			{% for news in news_list %}
			<tr><td>
				<a href="{{ news.url }}">{{ news.title }}</a>
				(published on: {{news.date}})
				<br>
				{{news.text}}
				<br><br>
			</td></tr>
			{% endfor%}
		</table>
	</div>

	<table width="80%" align="center">
		<tr><td>
			<div class="bs-example" align="center">		
				{% for i in range(number_of_pages) %}
				<form id="inline_form" action="{{ url_for('show_other_page') }}" method="post">
					<input type="hidden" name="page_number" value={{i}}>
					<button type="submit" class="btn btn-primary">{{i+1}}</button>
				</form>
				{% endfor%}	
			</div>		
		</td></tr>
	</table>
	<br>

</body>
</html>                            